<ons-page>

    <ons-toolbar>
        <div class="left"><ons-back-button>Back</ons-back-button></div>
        <div class="center"></div>
    </ons-toolbar>

    <div style="text-align: center">
        
        <h1>RSS Feed</h1>
        
        <div ng-controller = "RSSFeedController">
        
        
            <input type="text" ng-model="feedURL" class="text-input--underbar" placeholder="Input RSS Feed URL">
            <br></br>
            <ons-button modifier="medium" ng-click= 'loadRSS()' >Retrieve Feed</ons-button>
            <br></br>
            {{"You are retrieving from: " + feedURL}}
            
            <h1>{{currentFeedName}}</h1>
            
             <ons-list>
                <ons-list-item ng-repeat="entry in entries">
                  <b>{{entry.title}}</b><br></br>
                  <text>{{entry.contentSnippet}}</text>
                </ons-list-item>           
            </ons-list>

        </div>
        
</ons-page>





